/* Custom styles for the website */

/* Navigation bar */
.navbar {
    background-color: #282828; /* Light grey similar to Apple's website */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Helvetica Neue font */
    font-weight: 300; /* Thin font weight */
}

/* Main content */
body {
    background-color: #fcfcfc; /* Same light grey as navigation bar */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Helvetica Neue font */
    font-weight: 300; /* Thin font weight */
}

/* Apply Helvetica Neue font to specific elements */
h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/* Change the color of individual navigation items when hovered over, focused, or active */
.navbar-nav li a:hover,
.navbar-nav li a:focus,
.navbar-nav li a:active {
    background-color: #dddddd; /* Light grey */
    color: #333333; /* Dark grey text color */
}

/* Specific styles for active navigation items */
.navbar-nav li.active a,
.navbar-nav li.home-active a {
    background-color: transparent; /* Ensure no background color */
    color: #333333; /* Dark grey text color */
}

/* Links styling */
a {
    font-style: bold; /* Italicize links */
    font-weight: bold; /* Bold links */
    text-decoration: none; /* Remove underline by default */
    color: #333333; /* Set the default link color to dark grey */
    position: relative; /* Needed for the hover effect */
    display: inline-block; /* Needed for the hover effect */
}

/* Hover effect for links */
a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.2); /* Light red color with some transparency */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

a:hover::before {
    transform: scaleX(1);
}

/* Ensure the text remains above the hover effect and no underline */
a:hover {
    color: #333333; /* Ensure text color is visible over the hover effect */
    text-decoration: none; /* Ensure no underline on hover */
}
